<h1 class="text-3xl font-bold underline bg-amber-200">
  Hello world!
</h1>



<span class="material-symbols-rounded">search</span> Essai de moi pour voir
<span class="material-symbols-rounded filled">home</span>
<span class="material-symbols-rounded">settings</span>

<alz-icon filled>home</alz-icon>
<alz-icon>favorite</alz-icon>
<alz-icon filled class="text-amber-600">favorite</alz-icon>

<div>
  <button alzButton alzColor="titi"><alz-icon filled>home</alz-icon>Coucou les coco</button>
  <a alzButton alzColor="RIEN" href="titi" >toto</a>
  <a alzButton alzColor="RIEN" href="titi" >toto</a>
  <a alzButton alzColor="RIEN" href="titi" >toto</a>
  <button alzButton alzColor="titi"><alz-icon filled>home</alz-icon>Coucou les coco</button>

</div>
