<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>


<span class="material-symbols-rounded">search</span> Essai de moi pour voir
<span class="material-symbols-rounded filled">home</span>
<span class="material-symbols-rounded">settings</span>
<span class="material-symbols-rounded">favorite</span>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded flex items-center align-middle">
  <span class="material-symbols-rounded filled mr-2">home</span> TEST
</button>
<alz-icon filled>home</alz-icon>
<alz-icon>favorite</alz-icon>
<alz-icon filled class="text-amber-600">favorite</alz-icon>
